@font-face {
  font-family: "Pixel7";
  src: url("../fonts/Pixel Font-7 V2.woff2") format("woff2");
}

body {
  background-color: #333;
}

#board {
  background-color: brown;
  border: 1px solid black;
}

h1 {
  font-family: "Pixel7";
}
